.opl-page {
    background-color: #ffffff;
    margin: 20px 0px;
}
.opl-cell {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #efefef;
}
.opl-cell a{
    flex: 1;
}
.opl-cell mat-icon::before{
    content: "\f077";
}

.mat-card-content p {
    font-size: 12px;
    margin-left: 15px;
}

.material-icons.md-18 {
	font-size: 18px !important;
	height: 18px !important;
	width: 18px !important;
	}