<div class="tab-cell-block" style="padding:15px;">
  <p>货物预报</p>

  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="zm-form"> -->
  <div class="zm-form">
    <mat-form-field>
      <div class="display-flex">
        <div class="of-filed-label">
          <label>收获仓库<span>*</span></label>
        </div>
        <mat-select placeholder="" [(ngModel)]="data.warehouseNumber">
          <mat-option *ngFor="let item of warehouses" [value]="item.warehouseNumber">
            {{ item.warehouseName }}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>

    <mat-form-field>
      <div class="display-flex">
        <div class="of-filed-label">
          <label>快递名称<span>*</span></label>
        </div>
        <mat-select placeholder="" [(ngModel)]="data.carrierName" >
          <mat-option *ngFor="let item of shippingCarriers"   [value]="item.name">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <mat-form-field>
      <div class="display-flex">
        <div class="of-filed-label">
          <label>运单号码<span>*</span></label>
        </div>
        <input matInput placeholder="" [(ngModel)]="data.trackingNumber">
      </div>
    </mat-form-field>

    <mat-form-field>
      <div class="display-flex">
        <div class="of-filed-label">
          <label>运单内容<span>*</span></label>
        </div>
        <input matInput placeholder="" [(ngModel)]="data.packageDescription">
      </div>
    </mat-form-field>


    <!-- <mat-form-field>
      <div class="display-flex">
        <div class="of-filed-label">
          <label>包裹重量</label>
        </div>
        <input matInput placeholder="" [(ngModel)]="data.packageWeight">
      </div>
    </mat-form-field> -->

    <mat-form-field>
      <div class="display-flex">
        <div class="of-filed-label">
          <label>备注信息</label>
        </div>
        <input matInput placeholder="" [(ngModel)]="data.packageNote">
      </div>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button type="button" (click)=submitOrder() color="primary" >提交</button>
    </div>

    <div>
      <label style="color:#666666; font-size:14px;">注意：在网上购物的时候,一定记得写上系统给您分配,由4~5个字母组成的收件标示,地址后面也要加上客户编号. 以防止在没有做货物预告或者包裹面单破损的情况下,我们仓库收到包裹会根据客户的收件标示和客户编号确认客户信息号.</label>
    </div>
  </div>
  <!-- </form> -->
</div>
