<div>
  <img class="index-banner" src="/assets/images/faq/faq_banner.jpg" />
</div>
<div class="container content">
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">01. 在购物网站成功下单后需要做些什么?</p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
                等收到购物网站给您的包裹tracking number，登陆culexpress.com的网站，在"货物预告"中填写相关信息。
                快递名称选择相对应购物网站发出包裹选择的快递公司，运单号码一般建议手动输入，运单内容大致填写，
                PS：写得过多可能会导致系统无法显示。提交后包裹状态会显示为“未入库”，包裹抵达仓库后我们会进行入库操作，
                状态会被更新为“已入库”。culexpress.com会给您发送包裹入库相关的信息至您的邮箱.
             </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">02. 网站没有给我提供发货的追踪号码怎么办?</p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
                在网上购物的时候，一定记得写上系统给您分配，由4~5个字母组成的识别码， 地址后面也要加上单元号。
                我们仓库收到包裹会根据客户的收件标识和客户编号确认客户信息号，以统一的规则生成单号入库.
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">03. 为什么有时候包裹的入仓重量与网站发货时转运公司显示的重量不一致?</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
              UPS和FEDEX这种转运公司网站显示的只是发货网站提供的重量，不一定准确，UPS和FEDEX在美国境内转运也会计算体积重，而我们入库的重量是纯粹的实际重量，故有时会有差别。 我们的收费会按照culexpress.com最终发出的包裹重量进行计费。如果重量减少，我们会将余额计入客户的账户.
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">
                04. 为什么有时候转运公司的网站显示货物被投递，但是系统却没有入库?
              </p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
              <ul class="list-unstyled">
                  <li><i class="fa fa-check color-green"></i> 主要是由于客户没有填写“货物预报”的情况下，网站发货时客户的姓名识别码和地址单元号填写不完整或有错误，导致无法入库。所以请大家尽可能的在第一时间将网站提供的发货单号输入“货物预报”中，既可避免入仓不及时甚至入错仓的事情发生，也可以方便自己查询订货记录 </li>
                  <li><i class="fa fa-check color-green"></i> 麻烦您查看下物流信息，Signed By一栏，一般我们签收都是culexpress.com，culexpress.com WANG，DE这类带有明显culexpress.com标记的签名。如果不是我们签收的，首先需要查看购物时地址是否填写有误，如果正确麻烦您需要与快递公司和购物网站联系下</li>
              </ul>
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">
                05.我可以把不同网站定的货暂存在culexpress.com的海外仓库，然后合并一起发出吗?
              </p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
              相同仓库的包裹可以。但是CA仓库和DE仓库的包裹是不可以合并的，因为CA和DE在美西和美东，相隔距离太远，会耽误您收到包裹的时间的。DE仓库都是直发国内.
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">
                06. 我对包裹有其他特殊要求，怎么让仓库操作人员知道呢?
              </p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
              在提交订单的时候请把所有对包裹的操作要求填写在“订单留言”里，我们的工作人会尽量按照您的要求来处理包裹.
            </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">
                07. 为什么我提交大包裹 我的物品是A类 但是确要收我C类的价格?
              </p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
                这是为了能尽快的把您的货物发走，为了速度考虑，固会预先收C类的价格，到时候处理完包裹会给减重，会把多余的退到您culexpress.com的账户余额里面的。因为这样的话，免去几道程序,加快速度，否则还得每天跳来跳去，要补钱的，没付款的...那样又慢又很容易出错，现在的流程，只要提交打出订单来立刻发走，和小包裹一样了。希望大家能够理解.
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">
                08. 我的包裹收到了，但是里面发票怎么没了?
              </p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
                有可能是当时网站寄过来时就漏将发票放进去，一般情况下我们是不会丢掉客户的发票的.
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">
                09. 如果我有货定错了，仓库可以拒收包裹吗?
              </p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
                <p>不可以拒收哦，由于仓库每天到好几百个包裹，都是一起签收，拒收是不现实的，我们只能这样，入库后，您再向我们提出退货请求，仓库再帮您进行退货操作.</p>
                <p>所以麻烦您把以下资料准备齐全：</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> culexpress.com客户编号(即单元号)</li>
                    <li><i class="fa fa-check color-green"></i> 请向商家索取return label给我们</li>
                    <li><i class="fa fa-check color-green"></i> 您要退货的包裹美国运单号</li>
                    <li><i class="fa fa-check color-green"></i> 如果您有多个包裹需要退货至网站，请一个包裹和LABLE对应一个邮件发</li>
                    <li><i class="fa fa-check color-green"></i> 另外退货手续费是20元，汇款至payment@culexpress.com 附上汇款截图</li>
                </ul>
                <p>
                    <i class="fa fa-exclamation color-green"></i> 备注:Return label需要是网站已经支付过邮费的那种（例如UPS,USPS,FEDEX,ONTRAC ）这几个是常见的美国快递，然后我们为您打印出来贴箱送去美国快递公司退货。然后发到cs@culexpress.com 标题写上“需要退货” 即可.
                </p>
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
              <p class="faq-title-content">
                10. 如果我的包裹产生了关税，或者被海关要求退运，如何支付相关费用?
              </p>              
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
            <div class="faq-content">
                如果包裹产生关税，我们的客服会与客户取得联系，您可以在国内直接缴费给海关如果海关要求包裹退运，我们的客服会与您取得联系，客户需将退运费用支付给我司以便安排退运手续.
              </div>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
                <p class="faq-title-content">
                  11. 我的邮寄的货物会产生关税吗?
                </p>              
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
              <div class="faq-content">
                  海关会对他们认为有商业行为或超过个人使用范围的包裹征收关税.
                  <a href="http://www.customs.gov.cn/publish/portal0/tab67735/" target="_blank">点击这里</a>
                  或者复制网址:http://www.customs.gov.cn/publish/portal0/tab67735/
                  前往中国海关总署查询进出口税则.
                </div>
          </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>      
</div>