<div class="container">
    <div class="page-logo">
        中美速递
    </div>
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="用户名"  (keyup)="clearMsg()" [(ngModel)]="user.emailAddress">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="密码" (keyup)="clearMsg()" [(ngModel)]="user.password">
        </mat-form-field>
        <mat-error>
            {{errMeg}}
        </mat-error>
        <div class="login-group-inline">
            <button type="button" mat-raised-button class="btn-submit" color="warn" (click)="login(user)">登录</button>
        </div>
    </div>

    <app-footer></app-footer>
    <!-- <app-spinner></app-spinner> -->