
.ol-cell {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid #efefef;
}

.ol-cell a {
    text-decoration: none;
    display: flex;
    width: 100%;
    color: #333333; 
}

.ol-cell .ol-cell-info-left {
    flex: 1;
}
.ol-cell .ol-cell-info-left label{
    display: block;
}
.ol-cell .ol-cell-info-left span{
    font-size: 14px;
    color: #555555;
}
