<div class="od-page page-white">
    <div class="od-cell display-flex">
        <a class="od-tracking">查看包裹轨迹</a>
        <i class="material-icons" style="color: #999999;">navigate_next</i>
    </div>
    <div class="od-cell">
        <p>收货人：</p>
        <label>收获地址：</label>
    </div>
    <div class="od-cell">
        <p>费用明细</p>
        <p><label>包裹重量</label><span></span></p>
        <p>
            <label>运 费</label>
            <span></span>
        </p>
        <p>
            <label>购买保险</label>
            <span></span>
        </p>
        <p>
            <label>小 费</label>
            <span></span>
        </p>
        <p>
            <label>增值服务</label>
            <span></span>
        </p>
        <p>
            <label>积分抵扣</label>
            <span></span>
        </p>
        <p>
            <label>清关费用</label>
            <span></span>
        </p>
        <p>
            <label>实付款</label>
            <span></span>
        </p>
         
    </div>
    <div class="od-cell">增值服务
        <p>
            <label>实付款</label>
            <span></span>
        </p>
    </div>
    <div>订单信息</div>
    <div>包裹信息</div>
    
</div>