<div class="od-page">
    <div>轨迹</div>
    <div>地址</div>
    <div class="od-cell">
        <p>费用明细</p>
        <p><label>包裹重量</label><span></span></p>
        <p>
            <label>运 费</label>
            <span></span>
        </p>
        <p>
            <label>购买保险</label>
            <span></span>
        </p>
        <p>
            <label>小 费</label>
            <span></span>
        </p>
        <p>
            <label>增值服务</label>
            <span></span>
        </p>
        <p>
            <label>积分抵扣</label>
            <span></span>
        </p>
        <p>
            <label>清关费用</label>
            <span></span>
        </p>
        <p>
            <label>实付款</label>
            <span></span>
        </p>
         
    </div>
    <div>增值服务</div>
    <div>包裹信息</div>
    <div>订单信息</div>
</div>