.od-cell {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #efefef;
}
.od-cell p{
    display: flex;
    margin: 5px 0px;
    color: #999999;
    width: 100%;
}

.od-cell p label{
    float: left;
    flex: 1;
}

.od-cell p span{
    float: right;
}
.od-tracking {
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    padding: 5px 0px;
    background-color: #ffffff;
    padding: 6px 10px;
}
.od-tracking a{
    color: #999999;
    flex: 1;
}

.od-info {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}
.od-info img{
    width: 50px;
    padding-right: 10px;
}
.od-info p{
    color: #6dca8c;
    font-size: 15px;
    margin: 5px;
}
.od-info span{
    color: #999999;
    font-size: 14px;
    margin: 5px;
}

.od-margin-bom-10 {
   margin-bottom: 10px;
}