.od-cell {
    margin-bottom: 10px;
    background-color: #ffffff;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}
.od-cell p{
    display: flex;
    margin: 5px 0px;
    color: #999999;
    width: 100%;
}

.od-cell p label{
    float: left;
    flex: 1;
}

.od-cell p span{
    float: right;
}
.od-tracking {
    color: #ffb528;
    flex: 1;
}

.od-cell .mat-checkbox-inner-container{
    width: 16px !important;
    height: 16px !important;
}

.od-info {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px 0px;
  }
  .od-info img{
    width: 80px;
    padding-right: 10px;
  }
  .od-info p{
    color: #6dca8c;
    font-size: 18px;
    margin: 5px;
  }
  .od-info span{
    color: #999999;
    font-size: 14px;
    margin: 5px;
  }