<div class="main-container">
    <section id="timeline" class="timeline-outer">
      <div class="container" id="content">
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="blue-text lighten-1 header">包裹轨迹</h1>
            <h3>{{trackingHistory.trackingNumber}}</h3>
            <p>已运送:{{trackingHistory.usedTimeString}}</p>
            <p>出库时间: {{trackingHistory.shipDate}}</p>
            <ul class="timeline">
              <li *ngFor="let tracking of trackingHistory.data" 
                class="event">
                <h3>{{tracking.operationDate}}</h3>
                <p>
                  {{tracking.note}}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <br/>
  </div>