.ote-page {
    text-align: center;
    padding: 30px 10px;
}
.ote-page img{
    width: 50%;
}

.ote-page p{
    font-size: 20px;
    color: #607eae;
}

.ote-page span{
    font-size: 15px;
    color: #999999;
}