<div class="terms-container">
  <div class="content">
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <span>
            <h5 class="pull-left">附录1《不接受包裹破损理赔物品明细》</h5>
        </span>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <p>
        <a href="javascript:void();" routerLink="/terms">返回服务条款</a>
    </p>
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="privacy">
            <ol>
                <li>
                  艺术品，包括运用技术、品味或创造才能创作或开发、用于出售、陈列或收藏的任何作品， 包括但不限于，绘画、图面、花瓶、刺绣、限量发行的印刷品、美术作品、人像、雕塑、收藏鉴赏精品 、摄影负片、摄影胶版、摄影幻灯片及其它容易受损的商品或其市场价格特别容易变化或不易确定价值的商品（以及 商品的部件）等；
                </li>
                <li>
                  古董，包括显示古代风格的任何商品、其历史性、年代或稀有性造成其价值者，包括但不限于，家俬、餐具、玻璃器具以及诸如钱币、邮票、运动卡、礼品及纪念品等收藏品；
                </li>
                <li>
                  玻璃器具，包括但不限于，标志、镜子、陶器、磁器、瓷器、水晶、玻璃、镶框玻璃及其它易碎用品；
                </li>
                <li>
                  珠宝，包括但不限于：手表和其 零件、已切割或未切割的贵重和次等珠宝或宝石、人造钻石及人造珠宝；
                </li>
                <li>
                  贵金属，包括但不限于，黄金、银块、粉、沉淀物或白金 （电子机械构件除外）；
                </li>
                <li>
                  毛皮制品，包括但不限于毛皮衣物、毛皮装饰衣物和皮裘；
                </li>
                <li>
                  重量超过30~40磅的电器类（洗衣机、冰箱、音响、烤箱等）单件商品、特大型物品（滑板等）等单件物品。
                </li>
            </ol>
        </div>
    </div>
  </div>