.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../../assets/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.ot-search {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}
.ot-search button{
  margin-left: 10px;
}