<div class="jy-banner">
    <img class="index-banner" src="/assets/images/jy-banner.png">
</div>
<div class="main-container">
    <div class="row embargo-title">
        <div class="title">转运说明</div>
        <div class="title-icon">
            <img src="/assets/images/embargo/icon-zy.png">
        </div>
    </div>

    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-nf.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">奶粉</strong>
            <p>勿与其他杂物一起装箱，否则会延误邮寄时间，后续开分箱处理需支付相应操作的费用。
                <br/>0-765g≤3罐
                <br/>765g-1080g≤2罐
                <br/>1080g以上≤1罐</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-sb.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">手表</strong>
            <p>每箱包裹中的手表货物不能超过2只。
                <br/>
                <br/>转运数量：≤2件</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-xjd.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">小家电</strong>
            <p>电动剃须刀和电动牙刷不能写剃须刀和牙刷，必须要全称。
                <br/>
                <br/>转运数量：≤2件</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-bb.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">包包</strong>
            <p>大包，中包，小包，手包，背包，钱包，布袋。
                <br/>转运数量：≤2件
                <br/>包裹数量：≤2件
                <br/>包裹数量：≤2件</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-xz.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">鞋子</strong>
            <p>每箱包裹中的鞋子数量不能超过3双。
                <br/>
                <br/>转运数量：≤3双</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-hzp.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">化妆品</strong>
            <p>单一化妆品或润肤品的包裹不能超过4磅。
                <br/>
                <br/>转运数量：≤4磅</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-ldc.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">锂电池产品 </strong>
            <p>含锂电池，锂电子产品，必须如实申报，因未如实申报被海关扣查，所造成罚款全部由客户承担。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-qt.png" />
        </div>
        <div class="embargo-item">
            <strong clas="embargo-item-title">其它物品</strong>
            <p>其他物品相关说明 最终解释权归cul所有。</p>
        </div>
    </div>

    <div class="row embargo-title">
        <div class="title">禁运说明</div>
        <div class="title-icon">
            <img src="/assets/images/embargo/icon-jy.png" />
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-yryb.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">危险化工品</strong>
            <p>腐蚀性物品&放射性元素或含放射性物品&生化制品。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-yyyy.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">液压易燃易爆品</strong>
            <p>金属灌装液压物品。香水、香薰、指甲油、精油、剃须刀清洗液等易燃易爆品。 </p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-wqdj.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">武器刀具类</strong>
            <p>武器弹药&仿真武器。弓箭、仿真枪、瞄准镜、机械配件等。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-wjwp.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">其他禁运物品</strong>
            <p>烈性毒药&麻醉毒药（毒品、麻黄素以及其他制品等）；其他海关禁运的物品。</p>
        </div>
    </div>

    <div class="row embargo-title">
        <div class="title-icon">
            海关、商检管制类
        </div>
        <div class="embargo-scend-remark">所有自提线路不受限制</div>
    </div>

    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-1.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">部分数码产品</strong>
            <p>手机、笔记本、电子书、平板电脑、数码相机、单反相机、单反镜头。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-2.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">交通配件</strong>
            <p>汽车、摩托车、自行车配件和附件等。 </p>
        </div>
    </div>
    <!-- <div class="row embargo-row">
          <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-3.png" />
          </div>
          <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">名贵药草</strong>
            <p>燕窝、冬虫夏草、人参、鹿茸、阿胶等。</p>
          </div>
        </div> -->
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-4.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">饮料烟酒</strong>
            <p>茶叶、维生素功能饮料、酸奶、果汁、运动饮料、其他饮料等。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-5.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">动植物</strong>
            <p>动植物相关物品（假发、动物、植物、种子饲料、皮张、毛类，蹄、骨角类及其制品），植物（均含标本）及其种子和繁殖材料。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-6.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">贵重物品</strong>
            <p>一线品牌奢侈品、文物古玩、陶瓷工艺等（贵金属制品、宝石、水晶、化石等）。 </p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-7.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">大件商品</strong>
            <p>大型家电、音响等（乐器、家电、家具等）。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-8.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">货币印刷品</strong>
            <p>书籍字画、有价证券、国家货币、伪造货币、任何国家机密资料等。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-9.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">二手商品</strong>
            <p>所有二手商品。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-10.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">军用产品</strong>
            <p>军用制品、军用装备等。 </p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-11.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">传媒介质</strong>
            <p>胶卷、照片、唱片、IC电子零配件等（网卡、影片、录音带、录像带、光盘、储存介质配件及其它传媒介质等）。</p>
        </div>
    </div>
    <div class="row embargo-row">
        <div class="embargo-img">
            <img src="/assets/images/embargo/icon-3-12.png" />
        </div>
        <div class="embargo-item embargo-sm-item">
            <strong clas="embargo-item-title">其它禁运物品</strong>
            <p>加工半成品食品、高尔夫球头、成人用品、不属于民生类需求的其他物品等法律明文禁止的物品。</p>
        </div>
    </div>

    <div class="container-fluid ember-remark">
        <div class="container embargo-scend-title">注意：以上是部分国家禁运的进口物品种类（如本禁运条款与海关总署令第43号
            <a href="http://www.customs.gov.cn/publish/portal0/tab517/info10510.htm" target="_blank">《中华人民共和国禁止进出境物品表》</a>
            和
            <a href="http://www.customs.gov.cn/publish/portal0/tab517/info10510.htm" target="_blank">《中华人民共和国限制进出境物品表》</a>有抵触时，一切以海关总署令第43号文为准）， 以帮助和提醒您更加明智地购物，避免购买到违禁物品而导致无法发货。如果因个人失误，没有真实预报，一旦查出，后果由客户自己承担。
        </div>
    </div>
</div>