<div class="main-container">
    <img src="assets/images/jy-banner.png" alt="CUL中美速递货物转运说明">
    <mat-grid-list cols="2">
        <mat-grid-tile colspan="1" rowspan="2">
            <img src="assets/images/embargo/icon-nf.png">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <strong clas="embargo-item-title">奶粉</strong>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>勿与其他杂物一起装箱，否则会延误邮寄时间，后续开分箱处理需支付相应操作的费用。 <br>0-765g≤3罐 <br>765g-1080g≤2罐<br>1080g以上≤1罐</p>
        </mat-grid-tile>
      </mat-grid-list>      
</div>