.ui-container {
    margin:10px 10px 10px 10px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #6e89c5 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   background-color: #6e89c5 !important;
}

.disclaimer p {
    font-size: 14px;
    font-weight: bold;
    color: #ffb528;
}
.disclaimer span {
    font-size: 12px;
    color: #666666;
}

.option {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
}
.option mat-radio-group{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.option mat-radio-button {
    margin: 5px 0px;
    flex: .5;
}
.cul-option {
    margin-top: 10px;
}
.taobao-option {
    margin-top: 10px;
}
.option mat-form-field {
    width: 100%;
}
.upload-content {
    font-size: 12px;
}
.upload-content mat-form-field {
    width: 100%;
    font-size: 12px;
}
.upload-content mat-radio-button {
    font-size: 12px;
    margin: 5px;
}
.ID-card {
    display: flex;
}
.IDCard mat-hint {
    font-size: 8px;
    color: #ffb528;
}
.ID-warning {
    justify-content: flex-end;
}

.IDCard-image mat-card {
    max-width: 400px;
}
.IDCard-image img {
    width: 50%;
}

.IDCard-image {
    font-size: 14px;
}

.IDCard-image p {
    font-size: 10px;
    color: red;
}
.button-row button{
    width: 100%;
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #6e89c5 !important;
}

.upload-id .btn-primary {
    color: #fff;
    background-color: #ffb528;
    border-color: #ffb528;
}

.material-icons.md-18 {
	font-size: 18px !important;
	height: 18px !important;
	width: 18px !important;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }