<div>
  <img class="index-banner" src="/assets/images/howtouse/image_banner.jpg" />
</div>
<div class="container content howuse">
  <div class="row">
    <div class="left-col hidden-xs hidden-sm">
      <img class="imac" src="/assets/images/howtouse/mac.png" />
    </div>

    <div class="step">
      <div>
        <div class="circle">01</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">免费网站注册</div>
        <div class="body">
          <ul class="font-item">
            <li class="step-user">填写注册ID：3~15字符</li>
            <li class="step-pwd">密码设置：英文、符号或数字，长度6-20位。 </li>
            <li class="step-email">信箱：请保证真实有效，需接收验证信息。</li>
            <li class="step-tuser">推荐人ID：用于双方得到奖励</li>
          </ul>
          <p>
              <button class="btn-register" onclick="window.location.href='../#/register/'">立即注册</button>  
          </p>
        </div>
      </div>
    </div>

    <div class="step">
      <div>
        <div class="circle">02</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">完善资料</div>
        <div class="body">
          <ul class="font-item">
            <li class="step-user">在
              <span>个人资料</span>和
              <span>收货地址</span>完善资料</li>
            <li class="step-pwd">填写个人信息和联系方式 </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="step">
      <div>
        <div class="circle">03</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">获取专属收货地址</div>
        <div class="body">
            <ul class="font-item">
              <li class="step-user">用户中心会显示您的美国收货地址</li>
              <li class="step-pwd">一个在加州（CA）一个在特拉华（DE）</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="step">
      <div>
        <div class="circle">04</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">购物网站下单</div>
        <div class="body">
          <ul class="font-item">
            <li class="step-dui">按用户中心里的地址 正确填写收货地址</li>
            <li class="step-dui">写上系统给您分配的由4~5个字母组成的客户标示</li>
            <li class="step-dui">收货地址后缀加上客户编号 由2个字母和3个数字组成</li>
            <li class="step-dui">提交订单 下单即可</li>
          </ul>
          <p>
            地址后面务必加上客户编号，和标示号，以防止包裹面单快递单号破损的情况下，仓库收到包裹会根据客户编号和标示号来确认客户的信息。
          </p>
        </div>
      </div>
    </div>

    <div class="step">
      <div>
        <div class="circle">05</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">货物预报</div>
        <div class="body">
          <ul class="font-item">
            <li class="step-dui">发货1-2天后美国网站一般都会发送一封包含Tracking number的发货确认邮件</li>
            <li class="step-dui">收到确认邮件后，请登录
              <span class="site-info">www.culexpress.com.</span>点击
              <span class="huo">货物预报</span>
            </li>
            <li class="step-dui">选择美国网站的发货快递公司名</li>
            <li class="step-dui">填写对应的快递单号和具体品名</li>
            <li class="step-dui">提交信息，在“预报信息”里看到包裹信息</li>
            <li class="step-dui">等待1-2个工作日包裹入库上架，登录CUL官网会提示包裹入库和上架的信息</li>
          </ul>
          <p>
            地址后面要加上单元号，以防止包裹免单破损的情况下 仓库收到包裹会根据客户的识别码和单元号确认客户信息号。
          </p>
        </div>
      </div>
    </div>

    <div class="step">
      <div>
        <div class="circle">06</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">提交订单</div>
        <div class="body">
          <ul class="font-item">
            <li class="step-dui">登录后台,添加收货地址
            </li>
            <li class="step-dui">包裹显示上架后,您可以在预报信息中查看到已入库包裹的信息并且从已入库包裹中勾选要发出的包裹提交订单
              <br>
              <i class="fa fa-info-circle"></i> 如果有多个包裹需要一起发货 您可以随意选择多个需要合并的包裹并提交 目前最多合并包裹数量为10个
              <br>
              <i class="fa fa-info-circle"></i> 如果有包裹需要拆分发货 您可以选择一个或多个包裹 填写你要拆分发货的包裹数量 勾选上对应的发货地址即可提交
              <br>
            </li>
            <li class="step-dui">选择要发货包裹-选择您要发的发货渠道点击下一步</li>
            <li class="step-dui">选择收货地址和商品类别、商品品牌、商品描述、数量、单价等信息，点击下一步</li>
            <li class="step-dui">审核申报价值、填写积分、小费、增值服务等内容、审核订单详细内容 审核无误后，点击提交并支付订单，完成订单的提交</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="step">
      <div>
        <div class="circle">07</div>
        <div class="line"></div>
      </div>
      <div>
        <div class="title">等待您的包裹送到府</div>
        <div class="body">
          <ul class="font-item">
            <li class="step-dui">
                登录
                <span class="site-info">www.culexpress.com</span>官网输入CUL开头的单号,追踪和查询订单状态,系统会更新对应的国内单号或者配送信息等内容。 
                如果有任何问题，请登录后台点击在线咨询，或者通过在线QQ客服和邮箱联系我们！
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</div>