<div class="terms-container">
  <div class="content">
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <span>
            <h4 class="pull-left">CULExpress关于保险和赔付说明</h4>
        </span>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <p>
        <a href="javascript:void();" routerLink="/home/terms">返回服务条款</a>
    </p>
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="privacy">
            <ol>
                  <li>
                      CUL官网标价均为人民币。 如果需要支付美元，请按即时汇率转换即可。
                  </li>
                  <li>
                      由于航空公司严格查算包裹的体积重量，我们停止提供体积重过大的包裹邮寄服务。
                      <p>
                          这类物品主要包括:婴儿童车，安全座椅，行李箱，箱包，婴儿游戏垫，各种大型玩具等体积重量超过实际重量30%的物品。如果您执意要寄送体积重过大的包裹，，我们将会按包裹的体积重计算运费。体积重的换算标准: 长x宽x高/166。尺寸单位为英寸。
                      </p>
                  </li>
                  <li>
                      余额使用：如此包裹需要运费100元，您的帐户余额为45元，您只需要先在余额充值里充值55元，使账户余额变为100元。（如有积分，可以在提交订单时勾选“使用积分”，1积分等于1元，一个订单只能使用30个积分哦）。积分有20，那么只需要充值35元即可。
                  </li>
                  <li>
                      关于保险：如果购买CUL中美速递的保险，CUL中美速递的保险是只保丢失不保破损。保险是货值的2%。最高每个包裹保到500美金，赔付会按照余额充值的形式赔付到CUL账户。
                  </li>
                  <li>
                      关于货物丢失赔付： CUL提供丢失保险，如果您购买了保险，一旦货物在运输过程中发生丢件情况，我们会根据您当时订单中购买的保险金额，在CUL中美速递保险申报的价值以及您丢失物品的原始订单实际货值进行审核较低金额进行赔付，对您的申请核实无误后，我们会以余额充值的形式赔付到CUL账户中。详情可见《CUL中美速递理赔条款》。
                      <i class="material-icons md-18">info</i>注：以上丢失赔偿，所产生的相应运费及保险费不另做赔偿。
                  </li>
                  <li>
                      如果您没有购买保险，一旦发生丢失，核定为丢失件后， 本公司提供按照丢失的包裹订单中的重量，提供每磅9美金的赔付，最高赔付额是100美金。我们会以余额充值的形式赔付到CUL账户中。
                  </li>
                  <li>
                      任何渠道如果一旦产生有被税，或者被海关抽查和清关延误等不可抗力情况下，一律按照特殊情况来看待，清关时间则不能按照正常时间计算，必须要等待海关和航空方面的具体情况来定，
                      货物则必须等待清关完毕后才能正常配送，客户必须耐心等待。 所有包裹一旦出现被税，海关抽查，清关延误，航班延误等不可抗力，特殊情况引起的延误等待，CUL中美速递不做赔偿。 所有赔偿只针对确认为丢失的包裹才做赔付，并且是以CUL账户余额的形式赔付到客户的CUL账户余额中。
                  </li>
                  <li>
                      所有索赔申请必须在派送后5个工作日之内提出，并同时提供货物发票收据及相应的配送快递的破损、丢失证明（需要有有效的盖章），以及索赔申请表。 收到书面索赔后的7-10个工作日之内给予答复。无法提供上述材料的，本公司不予理赔。
                  </li>
                  <li>
                      所有的赔付均以余额或者积分的形式达到您的CUL账户中,CUL账户中的运费余额和积分，不接受提现，只能作为运费使用。
                  </li>
                  <li>
                      每一个客户从注册CUL中美速递开始起，则视为已经接受并且同意CUL中美速递的详细条款。
                  </li>
              </ol>
          </div>
      </div>
  </div>
</div>