body {
    background-color: #f9f9f9;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.page-white {
    background-color: white;
    padding: 10px;
}

.otd-tracking .mat-step-icon .mat-icon {
    display: none !important;
}
.otd-tracking .mat-step-icon span {
    display: none !important;
}
.otd-tracking .mat-step-icon-not-touched span {
    display: none;
}
.otd-tracking .mat-vertical-stepper-header{
    pointer-events: none !important;
}
