body {
    background-color: #f9f9f9;
    margin: 0px !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.page-white {
    background-color: white;
    padding: 10px;
}

.page-default {
    padding: 10px;
}

.display-flex {
    display: flex;
    align-items: center;
    padding: 3px 0px;
}
.display-block {
    display: inline-block;
    width: 100%;
}

.label-success {
    color: #5cb85c;
}
.label-warning {
    color: #f0ad4e;
}
.label-danger {
    color: #d9534f;
}
.label-info {
    color: #5bc0de;
}

.otd-tracking .mat-step-icon .mat-icon {
    display: none !important;
}
.otd-tracking .mat-step-icon span {
    display: none !important;
}
.otd-tracking .mat-step-icon-not-touched span {
    display: none;
}
.otd-tracking .mat-vertical-stepper-header{
    pointer-events: none !important;
}


.od-cell .mat-checkbox-inner-container{
    width: 16px !important;
    height: 16px !important;
}
