<div class="about-container">
    <div class="row">
        <div class="about-title">关于我们 <span>ABOUT US</span></div>
        <div class="icon-about"><img src="/assets/images/about/icon-about.png" /></div>
        <strong class="about-main">让海外购物更快速,更省心,更放心,让海淘变得更轻松! <br/>是我们中美速递的宗旨。</strong>
        <p>中美速递(culexpress)是海淘服务专家和中美运输权威,我们的服务人员皆拥有多年处理中美之间空海运进出口的经验,为集国际快递国际货运,仓储配送,包装,对外贸易以及保险代理于一身的全方位配套的综合性国际物流企业,有着完善的国内外服务网络和良好的企业信誉.</p>
        <p>公司总部设在美国洛杉矶.公司秉持“顾客至上”的原则,热诚服务大众,与业内多家知名企业合作,致力于用更短的时间和更低的费用的同时,为客户提供全方位的货运服务,主要业务有国际快件,国内运输,中美转运,美货直发,满足客户各种不同的需求.</p>
    </div>

      <div class="middle-about">
        <mat-grid-list cols="4">
          <mat-grid-tile>
              <div class="middle-item">
                <img src="/assets/images/about/icon-zsmg.png" />
                <div class="middle-font">
                  <span>专属美国</span><br>
                  <span>收货地址</span>
                </div>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="middle-item">
                <img src="/assets/images/about/icon-grzs.png" />
                <div class="middle-font">
                  <span>个人专属</span><br>
                  <span>美国仓库</span>
                </div>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="middle-item">
                  <img src="/assets/images/about/icon-dxbg.png" />
                <div class="middle-font">
                  <span>大小包裹</span><br>
                  <span>双渠发货</span>
                </div>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="middle-item">
                <img src="/assets/images/about/icon-zxzf.png" />
                <div class="middle-font">
                  <span>在线支付</span><br>
                  <span>更加便捷</span>
                </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

        <div class="row">
            <div>
              <div class="contact-title">中美速递 海淘服务专家</div>
              <p class="contact-icon"><span>--</span> <span>--</span></p>
              <p class="contact-content">公司总部设在美国洛杉矶.我们拥有多年处理中美空海运进出口的经验,成熟的配套设施和专业的管理团队让我们在业内外赢得广泛的认同.</p>
              <div class="contact-icon-container">
                <div class="contact-icon-item">
                  <img src="/assets/images/about/icon-tell.png" />
                  <span class="contact-item-title">(626)542-3266</span><br/>
                  <span class="contact-item-remark">周一至周五:北京时间9:00 - 17:30</span>
                </div>
                <div class="contact-icon-item">
                  <img src="/assets/images/about/icon-email.png" />
                  <span class="contact-item-title">cs@culexpress.com</span><br/>
                  <img src="/assets/images/about/icon-email.png" />
                  <span class="contact-item-title">de@culexpress.com</span><br/>
                  <span class="contact-item-remark">24小时接收您的邮件</span>
                </div>
              </div>
              <div class="contact-title">其他联系方式</div>
              <p class="contact-icon"><span>--</span> <span>--</span></p>
              <div class="contact-icon-container">
                <div class="contact-icon-item">
                  <img src="/assets/images/about/icon-location.png" />
                  <span class="contact-item-info">835 S Lawson St, City of Industry, CA 91748</span>
                </div>
                <div class="contact-icon-item">
                  <img src="/assets/images/about/icon-location.png" />
                  <span class="contact-item-info">150 quigley Blvd，NEW CASTLE，DE 19720</span>
                </div>
                <div class="contact-icon-item">
                  <img src="/assets/images/about/icon-cz.png" />
                  <span class="contact-item-info">(626)542-3266</span>
                </div>
                <div class="contact-icon-item">
                  <img src="/assets/images/about/icon-site.png" />
                  <span class="contact-item-info">http://www.culexpress.com</span>
                </div>
              </div>
            </div>
        </div>
</div>