<div class="terms-container">
  <div class="content">
      <div class="breadcrumbs">
          <span>
            <h4 class="pull-left">culexpress.com免责赔偿条款 </h4>            
          </span>
        </div>
        <p><a href="javascript:void();" routerLink="/terms-en">View English Version</a></p>
      
        <div class="privacy">
          <h5>仓库内及包裹入库丢失如何赔付</h5>
          <p>美国USPS、ONTRAC,UPS等快递公司经常送错货物，每天仓库的到货也是批量到货，批量签收， 有时候不是我们签收的货物也会显示我们签收，所以包裹妥投以culexpress.com系统中的入库记录为准。 在美国综合电商购物平台，例如Ebay, Amazon等电商平台上 个人第三方(非Ebay、Amazon官方)发货的包裹到达culexpress.com仓库后， culexpress.com将不为第三方的发货包裹提供任何赔偿保障措施，对于culexpress.com系统中有到货记录的包裹， 或者超过14个工作日没有进一步的状态更新，一直是处理中状态，包裹也未发出， 您可以申请入库丢失赔付。请到系统问题中选择--包裹理赔，格式如下：</p>
          <ul>
              <li><i class="material-icons md-18">info</i>标题写上 “入库丢失赔付”，内容依次附上，culexpress.com客户编号、邮件地址、联系电话、美国运单号、入库日期、购物小票或者货值证明</li>
              <li><i class="material-icons md-18">info</i>系统问题收到后 ，culexpress.com开始进行受理，一旦在仓储过程中出现遗失、损毁，culexpress.com提供每磅9美元、最高不超过100美元的赔偿，相关运费及保险费不做赔偿。 culexpress.com确定合适您的申请真实有效后 将于7个工作日内赔偿给您</li>
          </ul>
        </div>
        <div class="privacy">
          <h5>保价规则</h5>
          <ol>
              <li>对所有未投保的包裹及文件的丢失索赔，本公司最高理赔金额为$100</li>
              <li>我公司提供2％的保价服务，根据客户填写的货物申报价值计算，例如：申报价值填写$100，将收取2%即$2的运输保价；保费计算公式：申报价值×2%</li>
              <li>投保额上限为$60，即赔付金额最高为$3000</li>
              <li>当客户投保额度与货物实际价值不符时，理赔金额将以较低的为准</li>
              <li>任何有保价，保价仅针对整箱货物遗失有效</li>
          </ol>
        </div>

        <hr />
        <div class="privacy">
          <h5>不接受赔偿的物品</h5>
          <p>culexpress.com不承担任何间接、附带、特殊或衍生的损失所产生的赔偿责任。不会就任何下列原因所引起或造成的遗失、损毁、延迟送达、误送、未送达、提供错误资料或未能提供资料负任何责任，亦不采取任何运费调整、退款或任何补偿行为.</p>
          <ol>
              <li>因承运及相关人员不履行责任或疏忽而导致货物发生损毁</li>
              <li>因托运货物本身具有瑕疵及缺陷，如有明显破损等</li>
              <li>因您违反本公司所签发的运单、本条款、服务指南、或其它协议等，诸如货物申报不实、寄运货件的包装、安全保障、标志或地址书写不当或不完整</li>
              <li>因您违反本公司及海关相关规定和条款，包括：货物申报不实、寄运严禁入境商品被海关罚没或退运、物品超过海关规定中所限制的数量所导致的罚款、罚没及退运等</li>
              <li>发生空难事故、公敌入侵、政府当局、法律权限、海关或检疫所官员的行为或疏忽、暴动、罢工或其它地区性争执、民众骚乱、战争或天气所带来的危险、或由非本公司所能控制事项所致，如：全国性或区域性空中或地面交通系统中断或通讯系统干扰或故障。在此情况下，本公司仍会尽合理的努力，尽快运送至目的地并完成送 件。但我们没有义务在出现此类情况时向您发出通知及承担事后赔偿责任</li>
              <li>本公司遵循您或其他寄、收件人的口头或书面送件指示，而导致的不利后果</li>
              <li>对于在送达时无破损且外包装基本完整的包裹，或收件人正常签收（无论是家人，门卫，同事，朋友等代签收，一律视为本人签收）的包裹，以及客户申诉包裹坏损或内件短少且不能提交书面破损及内件短少的证明，不承担责任</li>
              <li>因清关手续或其它主管机关规定手续所致的延误</li>
              <li>因您没有及时确认关税及税金支付延迟所致的延误</li>
              <li>如有磁带、文件或其它存储媒体中数据的消除、或曝光底片中照相影像或音带地消除发生</li>
              <li>因您未能提供能够支持多次转运需要的包装而造成的毁损</li>
              <li>因发件人提供了错误、不完整、不正确的地址信息，无法联系收件人，而造成的重复配送所产生的费用及相关的后果</li>
              <li>因航班延误、取消或停飞造成的货物发送延误</li>
          </ol>
        </div>
        <hr />
        <div>
          <h5>理赔程序</h5>
              <span>1. 包裹收件破损如何赔付</span>
                  <p>客人在签收包裹时候必须当快递员面签收，如有问题立刻指出，并且到当地的邮局或者对应的快递方开具破损证明，申请破损理赔流程前请到系统问题中选择-包裹理赔，格式如下：</p>
                  <ul>
                      <li>
                          <i class="material-icons md-18">info</i>标题写上 “包裹破损赔付” ，内容依次附上，CUL客户编号、CUL单号、邮件地址、联系电话、邮局或相应快递的破损证明 清晰照片、货物破损清晰照片、购物小票或者货值证明。
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>由本公司核实后，本公司将对破损货品相应运费的2倍来进行赔偿，最高赔付金额为100美金，所产生的相应运费及保险费不做赔偿。
                      </li>
                  </ul>
                  <br>
                  <strong>注意事项:</strong>
                  <ul>
                      <li>
                          <i class="material-icons md-18">info</i>玻璃制品、奶粉、米粉之类的商品国际长途运输不管加固与否都不能保证运输中不发生破损，漏罐或者破罐，这几类商品不在本公司破损赔付范围内；
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>所有签收无异常的包裹，本公司不接受任何理赔申请；
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>运单未标明的物品的损坏以及丢失，本公司不负责赔偿；
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>包裹外包装未破损，内件丢失或破损，本公司不负责赔偿；
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>当收到货物时，外包装明显破损的，收件人要当场拍照取证，清点内部货物数量等；
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>未保价的订单理赔结果一律以积分形式充值入客户帐户中；
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>客户隐瞒申报或邮寄违禁品造成的海关查扣、货件丢失损毁等，公司一律不予理赔。
                      </li>
                  </ul>
                  <br>
                  <span>2. 关于货物丢失赔付</span>
                  <p>申请丢失理赔流程如下，请到系统问题中选择-包裹理赔，格式如下：</p>
                  <ul>
                      <li>
                          <i class="material-icons md-18">info</i>标题写上 “包裹丢失赔付”，内容依次附上，CUL客户编号、CUL单号、邮件地址、联系电话、邮局或相应快递的丢件证明 清晰照片、购物小票或者货值证明。
                      </li>
                      <li>
                          <i class="material-icons md-18">info</i>
                          CUL提供丢失保险，如果您购买了保险，一旦货物在运输过程中发生丢件情况，我们会根据您当时订单中购买的保险金额，在CUL中美速递保险申报的价值以及您丢失物品的原始订单实际货值进行审核较低金额进行赔付，
                          对您的申请核实无误后，我们会以余额充值的形式赔付到CUL账户中。
                          如果您没有购买保险，一旦发生丢失，核定为丢失件后， 本公司提供按照丢失的包裹订单中的重量，提供每磅9美金的赔付，最高赔付额是100美金。我们会以余额充值的形式赔付到CUL账户中
                      </li>
                  </ul>
                  <br>
                  <i class="material-icons md-18">info</i><strong>注：以上丢失赔偿，所产生的相应运费及保险费不另做赔偿。</strong>
        </div>
        <hr />
        <div>
          <h4>理赔时效</h4>
          <ol>
              <li>所有索赔申请必须在派送后5个工作日之内提出，并同时提供货物发票收据及相应的配送快递的破损、丢失证明（需要有有效的盖章），以及索赔申请表。 收到书面索赔后的7-10个工作日之内给予答复。无法提供上述材料的，本公司不予理赔。</li>
              <li>所有的赔付均以余额或者积分的形式达到您的CUL账户中</li>
              <li>CUL账户中的运费余额和积分，不接受提现，只能作为运费使用。</li>
              <li>CUL 为客人提供免费的仓储服务,但不提供无限期的仓储服务,在库存中超过365天没有提交,支付订单的包裹将视为弃件处理.每一个客户从注册CUL中美速递开始起，则视为 已经接受并且同意CUL中美速递的详细条款。</li>
          </ol>
        </div>
        <hr />
        <div>
            <p><a href="javascript:void();" routerLink="/insurance-intro">CULExpress关于保险和赔付说明</a></p>
            <p><a href="javascript:void();" routerLink="/appendix-limit">附录1《不接受包裹破损理赔物品明细》</a></p>
            <p><a href="javascript:void();" routerLink="/appendix-ormd">附录2《航空禁运商品明细》</a></p>
        </div>
  </div>

  <div class="content">
        <div class="breadcrumbs">
            <span>
                <h4 class="pull-left">Letter Of Authorization 授权书</h4>
            </span>
        </div>
        <div class="privacy">
            <p>
                根据美国国土安全局及美国运输安全管理局最新规定，每位客户需在面单上签名，以授权美国运输安全管理局（TSA）及我公司(culexpress.com)对您的货物进行检查；考虑到每次签写给您带来的不便，
                您也可以选择一次性填写下面的授权书，手写签名后将打印版邮 寄到我们公司即可。
                注：如果未按美国国土安全局及美国运输安全管理局最新规定操作，将会影响货物的发出。(扫描电子版无效手写签名后将打印版原件邮寄到我公司即可)
            </p>
            <p>
                <i class="material-icons">location_on</i>邮寄地址:835 S Lawson St, City of Industry, CA 91748            
            </p>
            <p>
                In compliance with the requirements by the Department of Homeland Security and the Transportation Security Administration (TSA),
                your cargo is subject to screening and inspection by the TSA and by L.Y.M. International Dba United Courier Service (culexpress.com).
                For your convenience, we have provided a section on the shipping label for you to authorize the screening and inspection.
                Alternatively, you can also attach the LETTER OF AUTHORIZATION as a separate document for each shipment.
            </p>
            <p>
                <i class="material-icons">location_on</i>Mailing.:835 S Lawson St, City of Industry, CA 91748                
            </p>
            <div class="lite">
                <img src="/assets/images/job/icon-sq.png" />
                <div class="lite-info">
                    <span class="title">Letter Of Authorization(Sample)</span>
                    <p>
                        I hereby authorize that our cargo is subject to screening and inspection by the Transportation Security Administration (TSA) and
                        by L.Y.M. International Dba United Courier Service (culexpress.com).
                    </p>
                    <p>Company Name:</p>  
                    <p>Legal Representative Signature:</p>
                    <p>Title:</p>  
                    <p>Date:</p>
                </div>
            </div>

        </div>
    </div>
</div>