<div class="main-container">
    <div>
      <div class="otd-info">
        <img src="/assets/images/icon-left-baoguo.png">
        <div>
          <p>已出库</p>
          <span>cul包裹号:{{trackingHistory.trackingNumber}}</span><br>
          <span>已运送:{{trackingHistory.usedTimeString}}</span>
        </div>
      </div>
    </div>
    <div class="otd-tracking">
      <mat-vertical-stepper class="otd-tracking" linear>
        <ul>
          <li *ngFor="let tracking of trackingHistory.data" class="event" >
            <mat-step [label]="tracking.operationDate">
              <ng-template matStepLabel>
                <p>{{tracking.operationDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                <p>{{tracking.note}}</p>
              </ng-template>
            </mat-step>
          </li>
        </ul>
      </mat-vertical-stepper>
    </div>
  </div>

  