
  .otd-info {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px 0px;
  }
  .otd-info img{
    width: 80px;
    padding-right: 10px;
  }
  .otd-info p{
    color: #6dca8c;
    font-size: 18px;
    margin: 5px;
  }
  .otd-info span{
    color: #999999;
    font-size: 14px;
    margin: 5px;
  }
  .otd-tracking .mat-step-icon .mat-icon {
    display: none !important;
  }
  .otd-tracking .mat-step-icon span {
    display: none !important;
  }
  .mat-vertical-stepper-header{
    pointer-events: none !important;
  }