<div class="main-container">
    <div>
      <div class="otd-info">
        <img src="/assets/images/icon-left-baoguo.png">
        <div>
          <p>已出库</p>
          <span>cul包裹号:{{trackingHistory.trackingNumber}}</span><br>
          <span>已运送:{{trackingHistory.usedTimeString}}</span>
        </div>
      </div>
    </div>
    <mat-vertical-stepper>
      <ul class="timeline">
        <li *ngFor="let tracking of trackingHistory.data" class="event" >
          <mat-step [label]="tracking.operationDate">
            <ng-template matStepLabel>
              <p>{{tracking.operationDate}}</p>
              <p>{{tracking.note}}</p>
            </ng-template>
          </mat-step>
        </li>
      </ul>
    </mat-vertical-stepper>
  </div>

  